*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
}
nav{
  position: sticky;
  top: 0px;
  z-index: 1;
}
.logo{
width: 300px;
}


nav a{
  text-decoration: none;
  color:white;
}
nav a:hover{
  text-decoration: none;
  color:white;
}
nav{

background-color: #FFC107;
font-family: 'Montserrat', sans-serif;
display: flex;
align-items: center;
}
nav ul{
  list-style-type: none;
  display: flex;
  font-size: 160%;


}
nav ul li{
  margin: 0 3rem;


}
nav ul li:hover{
  background-color: black;
  color: white;
}
nav{
  height: 5rem;
}
.logo{
    margin-right: auto;
}
.logo img{

  height: 4rem;
}
.button{
position: absolute;
top: 1.5rem;
right: .5rem;

  width: 60px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.bar{
  height: 7px;
  width: 100%;
  background-color: black;
  border-radius: 3px;

}
@media only screen and (max-width: 1300px) {

nav{
  flex-direction: column;
  align-content: center;

}
.logo{
  margin: 0 auto;
}

}
@media only screen and (max-width: 850px) {

nav ul{
  flex-direction: column;
}
nav ul li{
  margin: 5px auto;
  border-bottom: black 3px solid;
}
.logo{

  margin: 0 auto 0 0;


}
.logo img{
  height: 80px;
width: 70%;
}

nav ul{
  display: none;
}

.button{
    display: flex;
}


}

.show{
  display: flex;
  transition: all 1s;
}
